*~
*.tar.xz
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
omf.make
data/gnome-font-viewer.appdata.xml
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/*.gmo
po/*.pot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
src/.deps/
src/*.o
src/font-view-resources.c
src/font-view-resources.h
src/gnome-font-viewer
src/org.gnome.font-viewer.desktop
src/org.gnome.font-viewer.desktop.in
src/org.gnome.font-viewer.service
src/gnome-thumbnail-font
stamp-h1
xmldocs.make
